body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}
.navbar-brand img {
    width: 100px;
    height: auto;
    align-items: center;
}
.infographic {
    background-color: #998a8a;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    padding: 40px 40px;
}
h1 {
    color: #333;
}
.header {
    background-color: black;
    color: #b9a8a8;
}
h1 {
    color: #998a8a;
}
img {
    width: 200px;
    height: auto;
    border-radius: 10%;
    margin-bottom: 20px;
    align-items: center;
}
p {
    font-size: 16px;
    line-height: 1.6;
    color: black;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: black;s
    padding: 40px 40px;
}
.footer {
    background-color: black;
    padding: 20px 0;
}
.footer a {
    color: #f0f0f0;
}
.footer a:hover {
    color: #f0f0f0;
}

.navbar{
    align-items: center;
    padding: 5px 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.container {
    padding-top: 40px;
}

.search-bar {
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    border-radius: 5px;
    overflow: hidden;
}
 
.search-bar input {
    padding: 10px;
    border: none;
    outline: none;
    font-size: 16px;
    flex: 1;
}
 
.search-bar input::placeholder {
    color: #000000;
}
 
.search-bar button {
    background-color: #000;
    border: none;
    padding: 0 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.search-bar button img {
    height: 20px;
    width: 20px;
    filter: invert(1);
}